.flash_message_box {
  margin: 1em;
  padding: 1em;
  border-radius: 4px;
  background-color: antiquewhite;
}
.DetailTitle {
  border-radius: 4px;
  border: 1px solid #def;
  padding: 6px;
  background-color: #def;
}
.Footer {
  border-top: 1px solid #ddd;
  position: fixed; /* フッターを固定する */
  bottom: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* フッターの横幅を指定する */
  height: 65px; /* フッターの高さを指定する */
  padding: 10px; /* フッター内側の余白を指定する(上下左右) */
  background-color: #eeeaaa; /* フッターの背景色を指定する */
  color: #ffffff; /* フッターのフォントの色を指定する */
}
